<!DOCTYPE HTML>
<!-- <p>This Python Flask application demonstrates App Engine Flexible, Cloud Storage, Vision API, and Datastore.</p> -->
<!-- <br> -->

<html>
<center>
  <h1>Multilingualism</h1>
    <title>Googly MHacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" type = "text/css" href= "/static/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
<!-- </header> -->
<body>

      <form action="upload_photo" method="POST" enctype="multipart/form-data">
        Upload File 1: <input type="file" name="file"><br>
        Upload File 2: <input type="file" name="file1"><br><br>
        <input type="submit" name="submit" value="Submit"><br><br><br><br>
      </form>

      <form action="run_translate" method="POST" enctype="multipart/form-data">
            <input type="text" name="text" placeholder = "Translate:"><br><br>
        <input type="submit" name="submit" value="Submit">
      </form>

      <!-- {% for image_entity in image_entities %}
        <img src="{{image_entity['image_public_url']}}" width=200 height=200>
        <p>Top Label Detected using Vision API: {{image_entity['label']}}</p>
      {% endfor %} -->

      {% if public_url %}
        <img src="{{public_url}}" width=200 height=200>
        <h2>Label Detection:</h2>
        {% for label in labels %}
          <p><b>Label:</b> {{label.description}} <b>Score:</b> {{label.score}}</p>
        {% endfor %}
        <br>

        <h2>Web Detection:</h2>
        {% for web_entity in web_entities %}
          <p><b>Web Entity:</b> {{web_entity.description}} <b>Score:</b> {{web_entity.score}}</p>
        {% endfor %}
      {% endif %}

      {% if public_url2 %}
        <img src="{{public_url2}}" width=200 height=200>
        <h2>Label Detection:</h2>
        {% for label in labels2 %}
          <p><b>Label:</b> {{label.description}} <b>Score:</b> {{label.score}}</p>
        {% endfor %}
        <br>

        <h2>Web Detection:</h2>
        {% for web_entity in web_entities2 %}
          <p><b>Web Entity:</b> {{web_entity.description}} <b>Score:</b> {{web_entity.score}}</p>
        {% endfor %}
      {% endif %}


      {% if confidence %}
        <h2>Language Detection:</h2>
          <p><b>Confidence:</b> {{ confidence }}</p>
          <p><b>Input:</b> {{ inputt }}</p>
          <p><b>Language:</b> {{ language }}</p>
        <br>
        <h2>Translation:</h2>
          <p>{{ translated_text }}</p>
        <br>
      {% endif %}
</body>
</center>
</html> 
